{% extends "base.html" %}
{% block title}
{% block content %}

<h2>Login</h2>

<div class="row">
  <div class="col">
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Login</button>
    </form>
  </div>
</div>

<div class="row profile">
  <div class="col">
    <p><strong>-- OR --</strong></p>
    <a href="{% url 'social:begin' 'github' %}">Login with GitHub</a><br>
  </div>
</div>

<div class="row profile">
  <div class="col">
    <a class="signup-text" href="/accounts/signup">No Account yet? Sign up :)</a>
  </div>
</div>

{% endblock %}
