{% extends "base.html" %}
{% block title}
{% block content %}
{% load static %}
{% load classes_extras %}

<div class="row">
  <div class="col-xs-1 col-centered candidate-img">
    <img height="250" width="250" src=" {{ file_path }} ">
    <!--p> {{ image.file_name }} </p-->
  </div>
</div>


<div class="row">
  <div class="col-xs-1 col-centered">
    <a href="mark_human/{{ image.id }}"><button id="Human" type="button" class="play-list-button">Human</button></a>
    <a href="mark_non_human/{{ image.id }}"><button id="Non-Human" type="button" class="play-list-button">No Human</button></a>
  </div>
</div>

<div class="row">
  <div class="col-xs-1 col-centered">
    {% if user.is_authenticated %}
    <a href="/delete_label/{% get_last_label_id user.pk %}"><button id="Undo" type="button" class="play-list-button">Undo</button></a>
    {% endif %}
    <a href="mark_undecided/{{ image.id }}"><button id="Dontknow" type="button" class="play-list-button">Don't know</button></a>
  </div>
</div>

<div class="row">
  <div class="col-xs-1 col-centered">
    <a href="examples/">>please read the instructions<</a>
  </div>
</div>

{% endblock %}
