{% extends "base.html" %}
{% block title }
{% block content %}
{% load static %}


<div class="row">
  <div class="col">
        <a href="/"><button id="none" type="button" class="play-list-button">Start</button></a>
  </div>
</div>

<div class="row">
  <div class="col-xs-1 col-centered">
    <h5><a href="/examples/">>please read the instructions<</a></h5>
  </div>
</div>

<!--div class="row profile">
  <div class="col">
    <h3>Profile</h3>
    <form method="post">{% csrf_token %}
      <table>
	{{ form.as_table }}
      </table>
      <input type="submit" value="Update">
    </form>
  </div>
</div-->

<div class="row profile">
  <div class="col">
    <h3>Stats</h3>
    <p> Yo have labeled {{expert.get_labels|length}} images.
    </form>
  </div>
</div>


<div class="row profile">
  <div class="col">
  <h3>Labels</h3>
    <table>

      {% for label in expert.get_labels|slice:":10" %}
      
      <tr>
	<td>{{ label.id }}</td>
	{% static label.image.get_full_path as image %}
	<td><a href="{{ image }}" ><img width="100" height="100" src="{{ image }}"></a>
	<td>{{ label.name }}</td>
	<td><a href="/delete_label/{{ label.id }}" >>delete<</a></td>
      </tr>

      {% empty %}
      No labels yet.
      {% endfor %}
    </table>
  </div>
</div>
    

{% endblock %}
