{% extends "base.html" %}
{% block title }
{% block content %}
{% load static %}

<div class="row">
  <div class="col">
        <a href="/"><button id="none" type="button" class="play-list-button">Start</button></a>
  </div>
</div>

<div class="row profile">
  <div class="col col-centered">
    <h2>Game Mechanics Update (10.07.):</h2>
    <h5>Users with less points will get more points for one click than users with many points. This will make it possible to catch up.</h5>
  </div>
</div>

<div class="row profile">
  <div class="col col-centered">
    <h2>Season:</h2>
    <h3>Starting on July 9th 14:00</h3>
    <h3>Ending on July 31th 23:59</h3>
  </div>
</div>

<!--div class="row profile">
  <div class="col col-centered">
    <h2>Until then:</h2>
    <h5><a href="/examples/">>read the instructions<</a></h5>
    <h5><a class="signup-text" href="/accounts/signup">No Account yet? Sign up :)</a></h5>
  </div>
</div-->


<div class="row profile">
  <div class="col col-centered">
    <h2>Prices:</h2>
    <table>
      <h5>
      <tr>
	<td><h5>1x</h5></td>
	<td><h5><a href="https://craftcircus.de/produkt/birds-adventure/">Bottle BIRDS Botanical Spirit</a></h5.></td>
      </tr>
      <tr>
	<td><h5>1x</h5.></td>
	<td><h5>25€ Amazon voucher</h5.></td>
      </tr>
      <tr>
	<td><h5>1x</h5.></td>
	<td><h5>Freshly baked homemade sourdough bread</h5.></td>
      </tr>
      </h5>
    </table>
    <p>The person who makes the first place gets to choose first.<p>
  </div>
</div>

    

{% endblock %}
