{% extends "base.html" %}
{% block title}
{% block content %}

<div class="row profile">
  <div class="col">
    <form method="post">{% csrf_token %}
      <p>Are you sure you want to delete "{{ object }}"?</p>
      <p><img class="candidate-img" src="/static/images/{{object.image.file_name}}"></img></p>
      <input type="submit" value="Confirm">
    </form>
  </div>
</div>

{% endblock %}
