{% extends "base.html" %}
{% block title }
{% block content %}
{% load static %}
{% load classes_extras %}

<div class="row">
  <div class="col">
        <a href="/"><button id="none" type="button" class="play-list-button">Start</button></a>
  </div>
</div>

<div class="row">
  <div class="col">
    <a href="/info/"><h5>>Game Mechanics<</h5></button></a>
  </div>
</div>

<div class="row profile">
  <div class="col">
    <h3>Highscores</h3>
    <p><a style="color:orange" href="/statistics/">>Statistics<</a></p>
  </div>
</div>

<div class="row">
  <div class="col col-left">
    {% get_ranking as ranking %}
    <table>
      <tr>
	<td><u>Expert</u></td>
	<td><u>Score</u></td>
      </tr>

      {% for expert in ranking %}
      
      <tr>
	<td>{{ expert.username }}</td>
	<td>{% get_user_label_count expert.pk %}</td>
      </tr>

      {% empty %}
      No scores yet.
      {% endfor %}
    </table>
  </div>
</div>

<div class="row profile">
  <div class="col col-right">
    <img height="50" width= "50" src="/static/flames.gif"></img>
  </div>
  <div class="col">
    <h3>Hall of Fame</h3>
    <p>Total labels from last rounds: 6028</p>
  </div>
  <div class="col col-left">
    <img height="50" width= "50" src="/static/flames.gif"></img>
  </div>
</div>
    
<div class="row profile">
  <div class="col">
    <table>
      <tr>
	<td><u>Round</u></td>	
	<td><u>Expert</u></td>
	<td><u>Score</u></td>
      </tr>
      <tr>
	<td>1</td>
	<td>jbone</td>
	<td>1831</td>
      </tr>
    </table>
  </div>
</div>

{% endblock %}
