{% extends "base.html" %}
{% block title }
{% block content %}
{% load static %}
{% load classes_extras %}

<div class="row">
  <div class="col">
        <a href="/"><button id="none" type="button" class="play-list-button">Start</button></a>
  </div>
</div>

<div class="row profile">
  <div class="col">
    <h3>Statistics</h3>
    <p>We have created {% get_total_label_count %} lables for  {% get_total_image_count %} images.</p>
    <p style="color:orange">next Goal: 31000 Label</p>
  </div>
</div>

<div class="row">
  <div class="col col-left">
    <table>
      <tr>
	<td class="tdl"><u>Lable Type</u></td>
	<td class="tdr"><u>Count</u></td>
      </tr>

      {% for type,count in distribution.items %}
      <tr>
	<td class="tdl">{{ type }}</td>
	<td class="tdr">{{ count }}</td>
      </tr>
     
      {% empty %}
      <tr>
	<td>No distribution info yet.</td>
       </tr> 
      {% endfor %}
    </table>
  </div>
</div>

{% endblock %}
