{% extends "base.html" %}
{% block title }
{% block content %}

<form method="post">{% csrf_token %}
  <table>
  {{ form.as_table }}
  </table>  <input type="submit" value="Update">
</form>

<h1>Labels</h1>
<table>

  {% for label in expert.get_labels %}

  <tr>
    <td><a href="/" >{{ label.image.name}}</a></td>
    <td><a href="/" >{{ label.name }}€</a></td>
  </tr>

  {% empty %}
  No labels yet.
  {% endfor %}
</table>
    

{% endblock %}
